# RabbitMQ
RABBITMQ_USUARIO=bank_usac
RABBITMQ_CLAVE=bank_usac_local
RABBITMQ_PUERTO_AMQP=5672
RABBITMQ_PUERTO_PANEL=15672

# Account Service y su base independiente
CUENTAS_BD=cuentas_db
CUENTAS_USUARIO=cuentas_usuario
CUENTAS_CLAVE=cuentas_local
CUENTAS_PUERTO_BD=5433
CUENTAS_PUERTO_HTTP=8082

# Payment Service y su base independiente
PAGOS_BD=pagos_db
PAGOS_USUARIO=pagos_usuario
PAGOS_CLAVE=pagos_local
PAGOS_PUERTO_BD=5434
PAGOS_PUERTO_HTTP=8084

# Frontend
FRONTEND_PUERTO=3000

# Resiliencia
TIEMPO_ESPERA_APAGADO_SEGUNDOS=10
INTERVALO_OUTBOX_SEGUNDOS=2
MAXIMO_REINTENTOS=3
INTERVALO_INACTIVIDAD_SEGUNDOS=86400
