ENTORNO=desarrollo
PUERTO_HTTP=8084
URL_BASE_DATOS=postgres://pagos_usuario:pagos_local@localhost:5434/pagos_db?sslmode=disable
URL_RABBITMQ=amqp://bank_usac:bank_usac_local@localhost:5672/
INTERVALO_OUTBOX_SEGUNDOS=2
MAXIMO_REINTENTOS=3
