ENTORNO=desarrollo
PUERTO_HTTP=8082
URL_BASE_DATOS=postgres://postgres:postgres@localhost:5433/cuentas_db?sslmode=disable
URL_RABBITMQ=amqp://guest:guest@localhost:5672/
TIEMPO_ESPERA_APAGADO_SEGUNDOS=10
INTERVALO_OUTBOX_SEGUNDOS=2
MAXIMO_REINTENTOS=3
