ENTORNO=desarrollo
PUERTO_HTTP=8083
URL_BASE_DATOS=postgres://transacciones_usuario:transacciones_local@localhost:5435/transacciones_db?sslmode=disable
URL_RABBITMQ=amqp://bank_usac:bank_usac_local@localhost:5672/
INTERVALO_OUTBOX_SEGUNDOS=2
MAXIMO_REINTENTOS=3
TIEMPO_ESPERA_APAGADO_SEGUNDOS=10
